[Unit]
Description=Start JNOJ judge
After=network.target
Wants=mysql.service

[Service]
# 根据安装修改为对应的安装路径，你应该要能在该路径找到可执行文件 dispatcher
ExecStart=-/home/judge/jnoj/judge/dispatcher
RemainAfterExit=yes
KillMode=control-group
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target